body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
}
.container {
  width: 1000px;
  height: 800px;
  margin: 50% auto 50%;
  position: relative;
}
.one {
  background-color: red;
  margin: 0;
  border: 27px solid;
  border-color: blue;
  padding: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
.two {
  background-color: green;
  margin: 0;
  border: 27px solid;
  border-color: yellow;
  padding: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
}
